langchain
langchain-core
langchain-community
langchain-ollama
langchain-text-splitters
streamlit
faiss-cpu
sentence-transformers
pdfplumber
pypdf
python-docx
ollama
torch
pydantic
pydantic-settings
sqlalchemy
python-dotenv
rank_bm25
scikit-learn
nltk
underthesea
tiktoken
